{% extends 'CleanningService/base.html' %} 

{% block title %}Home{% endblock %}

{% block container %}

    <!-- Top Bar Start -->
    {% include 'CleanningService/topbar.html' %}
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    {% include 'CleanningService/navbar.html' %}
    <!-- Nav Bar End -->

    <!-- Carousel Start -->
    {% include 'CleanningService/carousel.html' %}
    <!-- Carousel End -->

    <!-- About Start -->
    {% include 'CleanningService/about.html' %}
    <!-- About End -->

    <!-- Service Start -->
    {% include 'CleanningService/service.html' %}
    <!-- Service End -->

    <!-- Facts Start -->
    {% include 'CleanningService/facts.html' %}
    <!-- Facts End -->

    <!-- Price Start -->
    {% include 'CleanningService/price.html' %}
    <!-- Price Start -->

    <!-- Location Start -->
    {% include 'CleanningService/location.html' %}
    <!-- Location End -->

    <!-- Team Start -->
    {% include 'CleanningService/team.html' %}
    <!-- Team End -->

    <!-- Testimonial Start -->
    {% include 'CleanningService/testimonial.html' %}
    <!-- Testimonial End -->

    <!-- Blog Start -->
    {% include 'CleanningService/blog.html' %}
    <!-- Blog End -->

    <!-- Footer Start -->
    {% include 'CleanningService/footer.html' %}
    <!-- Footer End -->

{% endblock %}